<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    body { background: #F6F6F6; }
    .container {
      padding: 25px;
      background: #FFFFFF;
      border-radius: 3px;
      max-width: 550px;
      margin: 25px auto;
      font-family: sans-serif;
      line-height: 1.5;
      color: #333;
      font-size: 14px;
    }
    h3 { font-weight: normal; }
    .footer {
      border-top: 1px solid #DDDDDD;
      padding-top: 25px;
      margin-top: 25px;
      font-style: italic;
      text-align: center;
      color: #888888;
    }
  </style>
</head>
<body>
  <div class="container">
    {{{ body }}}
    {{> footer }}
  </div>
</body>
</html>

